final/font-end-sushi/font-end-build/findus.html
<!DOCTYPE html>
<html>
  <head>
    <title>Sushi Restaurant</title>
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div class="title-wrapper">
          <div class="title-wrapper-inner">
            <div class="title main-color">The Sushi Restaurant</div>
            <div class="subtitle">Welcome to this website</div>
          </div>
        </div>
        <div class="nav">
          <div class="nav-inner">
            <ul>
              <li><a class="active" href="/index.html">Home</a></li>
              <li> <a href="/menu.html">Menu and Price list</a></li>
              <li> <a href="/findus.html">Find us</a></li>
            </ul>
          </div>
        </div>
        <div class="content">
          <div class="content-inner">
            <div class="block">
              <div class="findus">
                <div class="block__title">Find us</div>
                <div class="findus__info">
                  <div class="address">
                    <div class="address__title">Address and contact:</div>
                    <div class="address__content">
                      <div>The Sushi Restaurant</div>
                      <div>New York, NY, USA</div><br>
                      <div><span class="feild">Tel:</span>
                        <content>12345</content>
                      </div><br>
                      <div> <span class="feild">Email:</span>
                        <content>your-email@your-email.com</content>
                      </div>
                    </div>
                  </div>
                  <div class="opening">
                    <div class="opening__title">Opening hours:</div>
                    <div class="opening__content">
                      <div>Monday Closed</div>
                      <div>Tuesday 12 - 22</div>
                      <div>Wednesday 12 - 22</div>
                      <div>Thursday 12 - 22</div>
                      <div>Friday 11 - 23</div>
                      <div>Saturday 11 - 23</div>
                      <div>Sunday 11 - 22</div>
                    </div>
                  </div>
                </div>
                <div class="break-dash"><img class="findus__map" src="imgs/map.png" alt=""></div>
              </div>
            </div>
            <div class="share-page">
              <div class="share-page__content">
                <div class="title">Share this page</div>
                <ul>
                  <li><a href="#"><img src="imgs/1.jpg"><span>Share on Facebook</span></a></li>
                  <li><a href="#"><img src="imgs/2.jpg"><span>Share on Twitter</span></a></li>
                  <li><a href="#"> <img src="imgs/1.jpg"><span>Share on Google+</span></a></li>
                </ul>
              </div>
              <div class="share-page__content">
                <div class="title">Share this page</div>
                <ul>
                  <li><a href="#"><img src="imgs/1.jpg"><span>Share on Facebook</span></a></li>
                  <li><a href="#"><img src="imgs/2.jpg"><span>Share on Twitter</span></a></li>
                  <li><a href="#"> <img src="imgs/1.jpg"><span>Share on Google+</span></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="inner">
          <div class="break-solid"></div>
        </div>
        <div class="footer-inner"><a href="#">Created with SimpleSite</a>
          <div class="time"><span>1</span><span>2</span><span>3</span><span>2</span><span>2</span><span>2</span></div>
        </div>
      </div>
    </div>
  </body>
</html>

final/font-end-sushi/app/findus.pug
extends layouts/default

block content
  .findus
    .block__title Find us
    .findus__info
      .address
        .address__title Address and contact:
        .address__content
          div The Sushi Restaurant
          div New York, NY, USA
          br
          div
            span.feild Tel:
            content 12345
          br
          div 
            span.feild Email:
            content your-email@your-email.com
      .opening
        .opening__title Opening hours:
        .opening__content
          div Monday Closed
          div Tuesday 12 - 22
          div Wednesday 12 - 22
          div Thursday 12 - 22
          div Friday 11 - 23
          div Saturday 11 - 23
          div Sunday 11 - 22
    .break-dash
      img(src="imgs/map.png", alt="").findus__map
