final/font-end-sushi/font-end-build/menu.html
<!DOCTYPE html>
<html>
  <head>
    <title>Sushi Restaurant</title>
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div class="title-wrapper">
          <div class="title-wrapper-inner">
            <div class="title main-color">The Sushi Restaurant</div>
            <div class="subtitle">Welcome to this website</div>
          </div>
        </div>
        <div class="nav">
          <div class="nav-inner">
            <ul>
              <li><a class="active" href="/index.html">Home</a></li>
              <li> <a href="/menu.html">Menu and Price list</a></li>
              <li> <a href="/findus.html">Find us</a></li>
            </ul>
          </div>
        </div>
        <div class="content">
          <div class="content-inner">
            <div class="block">
              <div class="menu">
                <div class="block__title">Menu and Price list</div>
                <div class="menu__item">
                  <div class="break-solid"></div>
                  <div class="title">
                    <div>Menu 1</div>
                    <div>Price</div>
                  </div>
                  <div class="break-solid"></div>
                  <div class="sushi">
                    <div class="name">Claritas est etiam processus</div>
                    <div class="price">€15.00</div>
                  </div>
                  <div class="description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</div>
                  <div class="break-dash"></div>
                </div>
                <div class="menu__item">
                  <div class="break-solid"></div>
                  <div class="title">
                    <div>Menu 2</div>
                    <div>Price</div>
                  </div>
                  <div class="break-solid"></div>
                  <div class="sushi">
                    <div class="name">Claritas est etiam processus</div>
                    <div class="price">€15.00</div>
                  </div>
                  <div class="description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</div>
                  <div class="break-dash"></div>
                </div>
                <div class="pagin"><a class="prev not-active" href="">Prev</a><a class="next" href="">Next</a></div>
              </div>
            </div>
            <div class="share-page">
              <div class="share-page__content">
                <div class="title">Share this page</div>
                <ul>
                  <li><a href="#"><img src="imgs/1.jpg"><span>Share on Facebook</span></a></li>
                  <li><a href="#"><img src="imgs/2.jpg"><span>Share on Twitter</span></a></li>
                  <li><a href="#"> <img src="imgs/1.jpg"><span>Share on Google+</span></a></li>
                </ul>
              </div>
              <div class="share-page__content">
                <div class="title">Share this page</div>
                <ul>
                  <li><a href="#"><img src="imgs/1.jpg"><span>Share on Facebook</span></a></li>
                  <li><a href="#"><img src="imgs/2.jpg"><span>Share on Twitter</span></a></li>
                  <li><a href="#"> <img src="imgs/1.jpg"><span>Share on Google+</span></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="inner">
          <div class="break-solid"></div>
        </div>
        <div class="footer-inner"><a href="#">Created with SimpleSite</a>
          <div class="time"><span>1</span><span>2</span><span>3</span><span>2</span><span>2</span><span>2</span></div>
        </div>
      </div>
    </div>
  </body>
</html>

final/font-end-sushi/app/menu.pug
extends layouts/default

block content
  .menu
    .block__title Menu and Price list
    .menu__item
      .break-solid
      .title
        div Menu 1
        div Price
      .break-solid
      .sushi
        .name Claritas est etiam processus
        .price €15.00
      .description Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
      .break-dash
    .menu__item
      .break-solid
      .title
        div Menu 2
        div Price
      .break-solid
      .sushi
        .name Claritas est etiam processus
        .price €15.00
      .description Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
      .break-dash
    .pagin
      a(href="").prev.not-active Prev
      a(href="").next Next
