final/font-end-sushi/app/sushi.pug
extends layouts/default

block content
  .intro
    .intro__type
      .intro__type__item
        .title
          a(href="#") 24 types of sushi rolls
        .content
          p
            img(src="imgs/2.jpg")
            |Lorem ipsum dolor sit amet, consectetu massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta. Cras ac leo purus. Mauris quis diam velit 

final/font-end-sushi/font-end-build/sushi.html
<!DOCTYPE html>
<html>
  <head>
    <title>Sushi Restaurant</title>
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div class="title-wrapper">
          <div class="title-wrapper-inner">
            <div class="title main-color">The Sushi Restaurant</div>
            <div class="subtitle">Welcome to this website</div>
          </div>
        </div>
        <div class="nav">
          <div class="nav-inner">
            <ul>
              <li><a class="active" href="/index.html">Home</a></li>
              <li> <a href="/menu.html">Menu and Price list</a></li>
              <li> <a href="/findus.html">Find us</a></li>
            </ul>
          </div>
        </div>
        <div class="content">
          <div class="content-inner">
            <div class="block">
              <div class="intro">
                <div class="intro__type">
                  <div class="intro__type__item">
                    <div class="title"><a href="#">24 types of sushi rolls</a></div>
                    <div class="content">
                      <p><img src="imgs/2.jpg">Lorem ipsum dolor sit amet, consectetu massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta. Cras ac leo purus. Mauris quis diam velit </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="share-page">
              <div class="share-page__content">
                <div class="title">Share this page</div>
                <ul>
                  <li><a href="#"><img src="imgs/1.jpg"><span>Share on Facebook</span></a></li>
                  <li><a href="#"><img src="imgs/2.jpg"><span>Share on Twitter</span></a></li>
                  <li><a href="#"> <img src="imgs/1.jpg"><span>Share on Google+</span></a></li>
                </ul>
              </div>
              <div class="share-page__content">
                <div class="title">Share this page</div>
                <ul>
                  <li><a href="#"><img src="imgs/1.jpg"><span>Share on Facebook</span></a></li>
                  <li><a href="#"><img src="imgs/2.jpg"><span>Share on Twitter</span></a></li>
                  <li><a href="#"> <img src="imgs/1.jpg"><span>Share on Google+</span></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="inner">
          <div class="break-solid"></div>
        </div>
        <div class="footer-inner"><a href="#">Created with SimpleSite</a>
          <div class="time"><span>1</span><span>2</span><span>3</span><span>2</span><span>2</span><span>2</span></div>
        </div>
      </div>
    </div>
  </body>
</html>
